body{font-size:1.5em;}
#atom,#menubot,#mohs{font-size:1em;}
.tableview td a{font-size:2em;padding:0.4em 0.2em;}
.tableview td a span{font-size:0.3em;padding:1px;}
.stableview td a{display:block;padding:0.5em;margin:1px;position:relative;font-size:1em;}
