body{font-size:1.3em;}
#atom,#menubot,#mohs,.tableview td a{font-size:1em;}
.tableview td a{font-size:1.3em;padding:0.5em 0.3em;}
.tableview td a span{font-size:0.4em;padding:1px;}
.stableview td a{display:block;padding:0.4em;margin:1px;position:relative;font-size:0.9em;}
