<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Product Id='6771deee-67ef-47c3-abf0-877d13e45153'
		Name='!(loc.ApplicationName) $(var.ProductVersion)'
		Language='1033' 
		Version='$(var.ProductVersion)'
		Manufacturer='http://pt.kle.cz'
		UpgradeCode='a679dd0a-7162-4958-8c19-7e48b92fb843'>

	<Package Description='!(loc.ApplicationName) $(var.ProductVersion)'
		Comments='!(loc.ApplicationName) $(var.ProductVersion)'
		Manufacturer='http://pt.kle.cz'
		InstallerVersion='200'
		Compressed='yes' 
		Keywords='soubory'
		InstallScope='perMachine' />

	<InstallExecuteSequence>
		<RemoveExistingProducts After="InstallInitialize" />
		<Custom Action="SetARPINSTALLLOCATION" After="InstallValidate" />
	</InstallExecuteSequence>

	<Upgrade Id='a679dd0a-7162-4958-8c19-7e48b92fb843'>
		<UpgradeVersion OnlyDetect='no'
			Property='PREVIOUSFOUND'
			Minimum='12.11.19'
			IncludeMinimum='yes'
			Maximum='$(var.ProductVersion)'
			IncludeMaximum='no' />
	</Upgrade>

	<?include minimalui.wxs ?>

  <UIRef Id="WixUI_Common" />

	<WixVariable Id="WixUIBannerBmp" Value="img\top.jpg" />
	<WixVariable Id="WixUIDialogBmp" Value="img\bg.jpg" />
	<Icon Id="ProductIcon" SourceFile="img\app.ico"/>
	<Property Id="ARPPRODUCTICON" Value="ProductIcon" />
	<Property Id='ARPCOMMENTS' Value="!(loc.ApplicationName) $(var.ProductVersion)" />
	<Property Id='ARPCONTACT' Value="http://pt.kle.cz" />
	<Property Id='ARPHELPLINK' Value="http://pt.kle.cz" />
	<Property Id='ARPURLUPDATEINFO' Value="http://pt.kle.cz" />
	<Property Id='ARPHELPTELEPHONE' Value="+000 123 456 789" />
	<Property Id='ARPREADME' Value="http://pt.kle.cz" />
	<Property Id='ARPURLINFOABOUT' Value="http://pt.kle.cz" />

	<Feature Id='main' Title='pt.kle.cz' Description='!(loc.ApplicationName) $(var.ProductVersion)' Level='1'>
		<?include components-[% lang %].wxs ?>
	</Feature>

	<Media Id='1' Cabinet='periodictable.cab' EmbedCab='yes' CompressionLevel='high' />

	<Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id="ProgramFilesFolder">
				<?include files-[% lang %].wxs ?>
		<Directory Id="DesktopFolder" Name="Desktop" />
		<Directory Id="ProgramMenuFolder" Name="Programs" />
		</Directory>
	</Directory>

	<Icon Id="APP.ico" SourceFile="img\app.ico" />
	<CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[pt.kle.cz]" />
	</Product>
</Wix>
